<!DOCTYPE html>
<html>
<head>
    <title>Saturn by @flamekaizar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saturn is free PSD &amp; HTML template by @flamekaizar">
    <meta name="author" content="Afnizar Nur Ghifari">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ config.url_base }}/css/kube.min.css" />
    <link rel="stylesheet" href="{{ config.url_base }}/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ config.url_base }}/css/custom.min.css" />
    <link rel="shortcut icon" href="{{ config.url_base }}/img/favicon.png" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
</head>
<body>
